ASPNETCORE_ENVIRONMENT=Development
ConnectionStrings__DefaultConnection=Data Source=auth.db
JwtSettings__Issuer=AuthApi
JwtSettings__Audience=AuthApiClient
JwtSettings__Key=Defina_uma_chave_longa_e_segura_aqui
JwtSettings__ExpirationMinutes=60
EmailSettings__Host=smtp.gmail.com
EmailSettings__Port=587
EmailSettings__UseSsl=true
EmailSettings__UserName=seuemail@gmail.com
EmailSettings__Password=sua_app_password_do_google
EmailSettings__FromEmail=seuemail@gmail.com
EmailSettings__FromName=Sistema de Autenticacao